<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head> 
    <body>
        <p>{{title}}</p>
        <p>Test Description</p>
        <img src="/image/Penguins.jpg"></img>
        <p>Created By {{name}}</p>
    </body>       
</html>   